USE [master]
GO
/****** Objeto:  Database [Pratica SQl]    Data do Script: 28/06/2026 17:02:48 ******/
CREATE DATABASE [Pratica SQl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pratica SQl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\Pratica SQl.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pratica SQl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\Pratica SQl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pratica SQl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pratica SQl]
GO
/****** Objeto:  Table [dbo].[clientes]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] NOT NULL,
	[nome] [varchar](100) NULL,
	[cidade] [varchar](50) NULL,
	[estado] [varchar](2) NULL,
	[data_cadastro] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[contas_pagar]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contas_pagar](
	[id] [int] NOT NULL,
	[fornecedor_id] [int] NULL,
	[data_vencimento] [date] NULL,
	[data_pagamento] [date] NULL,
	[valor] [decimal](10, 2) NULL,
	[descricao] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[contas_receber]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contas_receber](
	[id] [int] NOT NULL,
	[cliente_id] [int] NULL,
	[venda_id] [int] NULL,
	[data_vencimento] [date] NULL,
	[data_pagamento] [date] NULL,
	[valor] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[fornecedores]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fornecedores](
	[id] [int] NOT NULL,
	[nome] [varchar](100) NULL,
	[cidade] [varchar](50) NULL,
	[estado] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[funcionarios]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionarios](
	[id] [int] NOT NULL,
	[nome] [varchar](100) NULL,
	[cargo] [varchar](50) NULL,
	[salario] [decimal](10, 2) NULL,
	[data_admissao] [date] NULL,
	[departamento] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[itens_venda]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itens_venda](
	[id] [int] NOT NULL,
	[venda_id] [int] NULL,
	[produto_id] [int] NULL,
	[quantidade] [int] NULL,
	[valor_unitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[lancamentos_contabeis]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lancamentos_contabeis](
	[id] [int] NOT NULL,
	[data_lancamento] [date] NULL,
	[conta_debito_id] [int] NULL,
	[conta_credito_id] [int] NULL,
	[valor] [decimal](10, 2) NULL,
	[historico] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[plano_contas]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plano_contas](
	[id] [int] NOT NULL,
	[codigo] [varchar](10) NULL,
	[descricao] [varchar](100) NULL,
	[tipo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[produtos]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[id] [int] NOT NULL,
	[nome] [varchar](100) NULL,
	[categoria] [varchar](50) NULL,
	[preco_custo] [decimal](10, 2) NULL,
	[preco_venda] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[vendas]    Data do Script: 28/06/2026 17:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendas](
	[id] [int] NOT NULL,
	[cliente_id] [int] NULL,
	[data_venda] [date] NULL,
	[valor_total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contas_pagar]  WITH CHECK ADD FOREIGN KEY([fornecedor_id])
REFERENCES [dbo].[fornecedores] ([id])
GO
ALTER TABLE [dbo].[contas_receber]  WITH CHECK ADD FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[contas_receber]  WITH CHECK ADD FOREIGN KEY([venda_id])
REFERENCES [dbo].[vendas] ([id])
GO
ALTER TABLE [dbo].[itens_venda]  WITH CHECK ADD FOREIGN KEY([produto_id])
REFERENCES [dbo].[produtos] ([id])
GO
ALTER TABLE [dbo].[itens_venda]  WITH CHECK ADD FOREIGN KEY([venda_id])
REFERENCES [dbo].[vendas] ([id])
GO
ALTER TABLE [dbo].[lancamentos_contabeis]  WITH CHECK ADD FOREIGN KEY([conta_debito_id])
REFERENCES [dbo].[plano_contas] ([id])
GO
ALTER TABLE [dbo].[lancamentos_contabeis]  WITH CHECK ADD FOREIGN KEY([conta_credito_id])
REFERENCES [dbo].[plano_contas] ([id])
GO
ALTER TABLE [dbo].[vendas]  WITH CHECK ADD FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
USE [master]
GO
